.modal-title{
    font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    /* margin: 0 0 16px; */
    font-weight: bold !important;
    font-size: 35px !important;
    /* text-decoration: underline; */
    font-style: italic !important;
}
.button{
    font-size: 1rem !important;
    background-color: white !important;
    color: green !important;
    border-radius: 10rem !important;
    padding: 0.7rem 1rem !important;
    margin: 1rem !important;
    opacity: .8 !important;
    outline: none !important;
    border-color: green !important;
}
.button:link{
    color: rgb(37, 73, 37) !important;
}

.button:visited{
    background-color: rgb(91, 204, 91) !important;
}

.button:hover{
    opacity: 0.9;
    font-size: 1rem !important;
    background-color: green !important;
    color: white !important;
    border-radius: 10rem !important;
    padding: 0.7rem 1rem !important;
    margin: 1rem !important;
    opacity: .8 !important;
    outline: none !important;
    /* border: none !important; */
}

.button:active{
    background-color: rgb(7, 82, 7) !important;
}

/* thead+tr+td+button{
} */

.edit{
    font-size: 1rem !important;
    background-color: white !important;
    outline: none !important;
    border-radius: 1rem !important;
    padding: 2% !important;
    color: #0078f2 !important;
    border-color: #0078f2 !important;
}

.edit:first-child{
    color: #064c92 !important;
}

.edit:hover{
    font-size: 1rem !important;
    background-color: #0078f2 !important;
    color: white !important;
    opacity: .8 !important;
    outline: none !important;
}

.delete{
    font-size: 1rem !important;
    background-color: white !important;
    color: #dc3545 !important;
    outline: none !important;
    border-color: #dc3545 !important;
    border-radius: 1rem !important;
    padding: 2% !important;
}

.delete:hover{
    font-size: 1rem !important;
    background-color: #dc3545 !important;
    color: white !important;
    outline: none !important;
    border-color: #dc3545 !important;
}

td{
    border-width: 1px;
    border-width: 0 !important;
}

td:hover{
    background-color: #f3f3f3;
    border-width: 0 !important;
}

.content-title { 
    font-family: 'Enriqueta', arial, serif; 
    line-height: 2.25; margin: 0 0 10px; 
    font-size: 28px; 
    font-weight: bold; 
}

/* form+button{
} */

form + p{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-weight: bold !important;
}

.update{  
    background-color: white;
    border-radius: 10rem !important;
    padding: 0.7rem 1rem !important;
    color: #ffc107;
    border-color: #ffc107 !important;
}

.update:hover{
    background-color: #ffc107;
    color: white;
    border-radius: 10rem !important;
    padding: 0.7rem 1rem !important;
    border-color: #ffc107 !important;
}

.logo{
    width: 8rem;
    height: 10rem;
    cursor: pointer;
}

.modal-header{
    border-bottom: none !important;
}

.modal-footer{
    display: flex;
    justify-content: center !important;
}

.close{
    color : #dc3545;
    background-color: white;
    border-radius: 10rem !important;
    padding: 0.7rem 1rem !important;
    border-color: #dc3545 !important;
}

.close:hover{
    color : white;
    background-color: #dc3545;
    border-radius: 10rem !important;
    padding: 0.7rem 1rem !important;
    border-color: #dc3545 !important;
}

th{
    background-color: black;
    color: white;
}

th:hover {
    background-color: #000000 !important; 
    color: #ffffff !important;  
}

/* .modal_font_bold{
    font-weight: bold;
} */

.form-label{
    font-size: small !important;
    font-weight: bold !important;
}

#table_action_cell{
    align-items: center; 
    display: flex ;
    justify-content: space-evenly; 
    border-width: 0;
}

#exampleModal{
    /* border: 2px solid #0078f2; */
    border: 5px solid rgba(0, 128, 128, 0.664);
}